# Python
__pycache__/
*.py[cod]

# Ambiente Virtual
.venv/
venv/
env/

# Build
build/
dist/

# Banco
*.db
*.sqlite
*.sqlite3
*.xlsx

# Backups
backups/

# Fotos
fotos_produtos/

# VSCode
.vscode/

# Sistema
Thumbs.db
Desktop.ini
.DS_Store