# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# Ambiente Virtual
venv/
.venv/
env/

# ==========================
# PyInstaller
# ==========================
build/
dist/


# ==========================
# Banco de Dados
# ==========================
*.db
*.sqlite
*.sqlite3
*.xlsx

# ==========================
# Backups
# ==========================
backups/

# ==========================
# Fotos (temporariamente)
# ==========================
fotos_produtos/

# ==========================
# VSCode
# ==========================
.vscode/

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# Mac
# ==========================
.DS_Store